# RHEL7 / CentOS-7 Kickstart file

# Install OS instead of upgrade
install

# Install from a cdrom (iso)
cdrom

# Agree to EULA
eula --agreed

# System language
lang en_US.UTF-8

# System keyboard
keyboard us

# System timezone
timezone UTC

# Perform the kickstart installation in text
text

# If present, X is not configured on the installed system
skipx

# Setup network interfaces via DHCP
network --bootproto=dhcp

# Set root pw here (required by KS), remove pw in post
rootpw vagrant

# Firewall switch
firewall --disabled

# SELinux switch
selinux --permissive

# System bootloader configuration
bootloader --location=mbr --timeout=2

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel

# Automatically create partitions, no LVM
autopart --type=plain

# Set up the authentication options for the system
auth --enableshadow --passalgo=sha512

# The Setup Agent is not started the first time the system boots
firstboot --disabled

# Services
services --enabled=ntpd,ntpdate,NetworkManager,sshd

# Setup Vagrant specifics
user --name=vagrant --plaintext --password vagrant --groups=vagrant,wheel

# Completion method
reboot

# Define package groups and single packages (@Base and @Core are defaults)
%packages --excludedocs
-iwl*firmware

%end

%post

# Do a full update
echo "Updating packages"
yum update -y

# Add the vagrant user to sudoers
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

echo "End of Kickstart"

%end
